body {
    background-color: beige;
}

#tab_form label
{
    width: 50px;
    margin: 0;
    padding: 0;
    display:inline-block;
}

#tab_form input
{
    width: 200px;
}

table {
    background-color: black;
}

th {
    background-color: aliceblue;
}

td {
    background-color: aquamarine;
}